spring:
  application:
    name: ${SPRING_APPLICATION_NAME}

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER}

    hikari:
      maximum-pool-size: ${SPRING_DATASOURCE_MAX_POOL_SIZE}
      minimum-idle: ${SPRING_DATASOURCE_MIN_IDLE}

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST}
      port: ${SPRING_DATA_REDIS_PORT}

  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST}
    port: ${SPRING_RABBITMQ_PORT}
    username: ${SPRING_RABBITMQ_USERNAME}
    password: ${SPRING_RABBITMQ_PASSWORD}
    listener:
      simple:
        missing-queues-fatal: false
        concurrency: ${RABBITMQ_CONCURRENCY}
        max-concurrency: ${RABBITMQ_MAX_CONCURRENCY}
        prefetch: ${RABBITMQ_PREFETCH}

vnpay:
  tmn-code: ${VNPAY_TMN_CODE}
  hash-secret: ${VNPAY_HASH_SECRET}
  url: ${VNPAY_URL}
  return-url: ${VNPAY_RETURN_URL}